/* Realisasi Anggaran  */
.current-anggaran,
.edit-anggaran {
   margin-top: 30px;
}
.info-anggaran {
   width: 100%;
   box-shadow: 4px 4px 1px rgb(0 0 0 / 10%);
   border-radius: 8px;
   padding: 15px;
   border: 1px solid;
}
.info-title {
   font-size: 17px;
}
.info-number {
   font-size: 25px;
   font-weight: 700;
}
.btn-edit-anggaran {
   width: 100%;
   font-size: 17px;
}
#edit_anggaran {
   border: 1px solid #eee;
   border-top: none;
   padding: 2%;
}